@import "mixins/media-mixins";
@import "components/typography";
@import "components/button";
@import "components/text-block";

@import "landing/sections/hero";
@import "landing/sections/specs";
@import "landing/sections/info";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
}

body {
	background-color: var(--color-black-37);
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

:root {
	--color-white: #fff;
	--color-green: #0ff796;

	--color-black-55: #555050;
	--color-black-37: #373737;
}
