.btn {
	display: block;
	text-align: center;

	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	transition: all 0.2s;

	@include mobile {
		font-size: 24px;
	}

	&_primary {
		border: 3px solid #101c22;
		padding: 20px;
		background: url("../img/btn-bg.webp");
		background-position-y: top;
		color: var(--color-black-55);

		&:hover {
			background-position-y: bottom;
			border-color: var(--color-white);
		}
	}

	&_secondary {
		background: rgba(0, 0, 0, 0.39);
		border: 1px solid rgba(0, 0, 0, 0.39);
		padding: 20px;
		color: var(--color-white);

		&:hover {
			background: rgba(0, 0, 0, 1);
			border-color: var(--color-white);
		}
	}
}
